<img src="./img/channel-art.png" alt="O Mago dos Bits - Channel Art" width="100%">

# Curso Python - Aula 08 - Tuplas

__Marcos A. P. de Lima__

[@ocaradosalgoritmos](https://www.youtube.com/channel/UCH2hQ1qlt_Emv4exefAmw0w)

# Imports

In [1]:
# 'generic import' of math module
import math
math.sqrt(25)

5.0

In [2]:
# import a function
from math import sqrt
sqrt(25)    # no longer have to reference the module

5.0

In [6]:
# import multiple functions at once
from math import cos, floor
cos(0), floor(-2.5)

(1.0, -3)

In [10]:
# define an alias
import datetime as dt
dt.datetime.now()

datetime.datetime(2020, 1, 31, 0, 4, 50, 748811)

In [11]:
# show all functions in math module
print(dir(math))

['__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

# Condicionais

In [13]:
x = 3
x

3

In [14]:
# if statement
if x > 0:
    print('positive')

positive

In [17]:
x = -5
# if/else statement
if x > 0:
    print('positive')
else:
    print('zero or negative')

zero or negative

In [16]:
x = 0
# if/elif/else statement
if x > 0:
    print('positive')
elif x == 0:
    print('zero')
else:
    print('negative')

zero

In [19]:
x = 5
# single-line if statement (sometimes discouraged)
if x > 0: print('positive')

positive

In [20]:
# single-line if/else statement (sometimes discouraged), known as a 'ternary operator'
'positive' if x > 0 else 'zero or negative'

'positive'

In [1]:
# Different ways to test multiple
# flags at once in Python
x, y, z = 0, 1, 0

if x == 1 or y == 1 or z == 1:
    print('passed')

if 1 in (x, y, z):
    print('passed')

passed
passed

In [2]:
# These only test for truthiness:
if x or y or z:
    print('passed')

if any((x, y, z)):
    print('passed')

passed
passed

# 9. Dictionaries
Dictionary properties: unordered, iterable, mutable, can contain multiple data types
Made of key-value pairs
Keys must be unique, and can be strings, numbers, or tuples
Values can be any type

In [108]:
# create an empty dictionary (two ways)
empty_dict = {}
empty_dict = dict()
empty_dict

{}

In [109]:
# create a dictionary (two ways)
family = {'dad':'homer', 'mom':'marge', 'size':6}
family = dict(dad='homer', mom='marge', size=6)
family

{'dad': 'homer', 'mom': 'marge', 'size': 6}

In [110]:
# convert a list of tuples into a dictionary
list_of_tuples = [('dad', 'homer'), ('mom', 'marge'), ('size', 6)]
family = dict(list_of_tuples)
family

{'dad': 'homer', 'mom': 'marge', 'size': 6}

#### Examine a dictionary:

In [111]:
# pass a key to return its value
family['dad']

'homer'

In [112]:
# return the number of key-value pairs
len(family)

3

In [113]:
# check if key exists in dictionary
'mom' in family

True

In [114]:
# dictionary values are not checked
'marge' in family

False

In [115]:
# returns a list of keys (Python 2) or an iterable view (Python 3)
family.keys()

dict_keys(['dad', 'mom', 'size'])

In [116]:
# returns a list of values (Python 2) or an iterable view (Python 3)
family.values()

dict_values(['homer', 'marge', 6])

In [117]:
# returns a list of key-value pairs (Python 2) or an iterable view (Python 3)
family.items()

dict_items([('dad', 'homer'), ('mom', 'marge'), ('size', 6)])

#### Modify a dictionary (does not return the dictionary):

In [118]:
# add a new entry
family['cat'] = 'snowball'
family

{'dad': 'homer', 'mom': 'marge', 'size': 6, 'cat': 'snowball'}

In [119]:
# edit an existing entry
family['cat'] = 'snowball ii'
family

{'dad': 'homer', 'mom': 'marge', 'size': 6, 'cat': 'snowball ii'}

In [120]:
# delete an entry
del family['cat']
family

{'dad': 'homer', 'mom': 'marge', 'size': 6}

In [121]:
# dictionary value can be a list
family['kids'] = ['bart', 'lisa']
family

{'dad': 'homer', 'mom': 'marge', 'size': 6, 'kids': ['bart', 'lisa']}

In [122]:
# remove an entry and return the value
value = family.pop('dad')
value

'homer'

In [124]:
# add multiple entries
family.update({'baby':'maggie', 'grandpa':'abe'})
family

{'mom': 'marge',
 'size': 6,
 'kids': ['bart', 'lisa'],
 'baby': 'maggie',
 'grandpa': 'abe'}

#### Access values more safely with get:

In [125]:
family['mom']

'marge'

In [126]:
# equivalent to a dictionary lookup
family.get('mom')

'marge'

In [127]:
# this would throw an error since the key does not exist
# family['grandma']

In [129]:
# return None if not found
value = family.get('grandma')
value

In [131]:
# provide a default return value if not found
value = family.get('grandma', 'not found')
value

'not found'

#### Access a list element within a dictionary:

In [132]:
family['kids'][0]

'bart'

In [133]:
family['kids'].remove('lisa')
family

{'mom': 'marge',
 'size': 6,
 'kids': ['bart'],
 'baby': 'maggie',
 'grandpa': 'abe'}

#### String substitution using a dictionary:

In [137]:
'%(mom)s is %(baby)s`s mother' % family

'marge is maggie`s mother'

#### Merging two dicts

In [9]:
x = {'a': 1, 'b': 2}
y = {'b': 3, 'c': 4}
x,y

({'a': 1, 'b': 2}, {'b': 3, 'c': 4})

In [8]:
z = {**x, **y}
z

{'a': 1, 'b': 3, 'c': 4}

In [11]:
# ?????????
{True: 'yes', 1: 'no', 1.0: 'maybe'}

{True: 'maybe'}

# 10. Sets
Set properties: unordered, iterable, mutable, can contain multiple data types
Made of unique elements (strings, numbers, or tuples)
Like dictionaries, but with keys only (no values)

In [140]:
# create an empty set
empty_set = set()
empty_set

set()

In [141]:
# create a set directly
languages = {'python', 'r', 'java'}
languages

{'java', 'python', 'r'}

In [142]:
# create a set from a list
snakes = set(['cobra', 'viper', 'python'])
snakes

{'cobra', 'python', 'viper'}

#### Examine a set:

In [143]:
len(languages)

3

In [144]:
'python' in languages

True

#### Set operations:

In [145]:
# intersection
languages & snakes

{'python'}

In [146]:
# union
languages | snakes

{'cobra', 'java', 'python', 'r', 'viper'}

In [147]:
# set difference
languages - snakes

{'java', 'r'}

In [148]:
# set difference
snakes - languages

{'cobra', 'viper'}

#### Modify a set (does not return the set):

In [149]:
# add a new element
languages.add('sql')
languages

{'java', 'python', 'r', 'sql'}

In [150]:
# try to add an existing element (ignored, no error)
languages.add('r')
languages

{'java', 'python', 'r', 'sql'}

In [151]:
# remove an element
languages.remove('r')
languages

{'java', 'python', 'sql'}

In [152]:
# try to remove a non-existing element (this would throw an error)
# languages.remove('c')

In [153]:
# remove an element if present, but ignored otherwise
languages.discard('c')
languages

{'java', 'python', 'sql'}

In [154]:
# remove and return an arbitrary element
languages.pop()

'java'

In [155]:
# remove all elements
languages.clear()
languages

set()

In [156]:
# add multiple elements (can also pass a set)
languages.update(['go', 'spark'])
languages

{'go', 'spark'}

#### Get a sorted list of unique elements from a list:

In [157]:
sorted(set([9, 0, 2, 1, 0]))

[0, 1, 2, 9]

# 11. Defining Functions
Define a function with no arguments and no return values:

In [158]:
def print_text():
    print('this is text')

In [159]:
# call the function
print_text()

this is text

#### Define a function with one argument and no return values:

In [160]:
def print_this(x):
    print(x)

In [161]:
# call the function
print_this(3)

3

In [165]:
# prints 3, but doesn't assign 3 to n because the function has no return statement
n = print_this(3)
str(n)

3

'None'

#### Define a function with one argument and one return value:

In [166]:
def square_this(x):
    return x**2

In [168]:
# include an optional docstring to describe the effect of a function
def square_this(x):
    """Return the square of a number."""
    return x**2

In [169]:
# call the function
square_this(3)

9

In [172]:
# assigns 9 to var, but does not print 9
var = square_this(3)
#var

#### Define a function with two 'positional arguments' (no default values) and one 'keyword argument' (has a default value):

In [173]:
def calc(a, b, op='add'):
    if op == 'add':
        return a + b
    elif op == 'sub':
        return a - b
    else:
        print('valid operations are add and sub')

In [174]:
# call the function
calc(10, 4, op='add')

14

In [175]:
# unnamed arguments are inferred by position
calc(10, 4, 'add')

14

In [176]:
# default for 'op' is 'add'
calc(10, 4)

14

In [177]:
calc(10, 4, 'sub')

6

In [178]:
calc(10, 4, 'div')

valid operations are add and sub

#### Use pass as a placeholder if you haven't written the function body:

In [179]:
def stub():
    pass

#### Return two values from a single function:

In [180]:
def min_max(nums):
    return min(nums), max(nums)

In [181]:
# return values can be assigned to a single variable as a tuple
nums = [1, 2, 3]
min_max_num = min_max(nums)
min_max_num

(1, 3)

In [182]:
# return values can be assigned into multiple variables using tuple unpacking
min_num, max_num = min_max(nums)
print(min_num)
print(max_num)

1
3

In [4]:
# Why Python Is Great:
# Function argument unpacking

def myfunc(x, y, z):
    print(x, y, z)

In [5]:
tuple_vec = (1, 0, 1)
dict_vec = {'x': 1, 'y': 0, 'z': 1}

myfunc(*tuple_vec)
myfunc(**dict_vec)

1 0 1
1 0 1

# 12. Anonymous (Lambda) Functions
Primarily used to temporarily define a function for use by another function

In [183]:
# define a function the "usual" way
def squared(x):
    return x**2

In [184]:
# define an identical function using lambda
squared2 = lambda x: x**2

In [185]:
squared(3)

9

In [186]:
squared2(3)

9

#### Sort a list of strings by the last letter:

In [187]:
# without using lambda
simpsons = ['homer', 'marge', 'bart']
def last_letter(word):
    return word[-1]
sorted(simpsons, key=last_letter)

['marge', 'homer', 'bart']

In [188]:
# using lambda
sorted(simpsons, key=lambda word: word[-1])

['marge', 'homer', 'bart']

In [189]:
# name of parameter doesnt matter
sorted(simpsons, key=lambda x: x[-1])

['marge', 'homer', 'bart']

# 13. For Loops and While Loops
range returns a list of integers (Python 2) or a sequence (Python 3):

In [190]:
# includes the start value but excludes the stop value
range(0, 3)

range(0, 3)

In [191]:
# default start value is 0
range(3)

range(0, 3)

In [192]:
# third argument is the step value
range(0, 5, 2)

range(0, 5, 2)

#### for loops:

In [193]:
# not the recommended style
fruits = ['apple', 'banana', 'cherry']
for i in range(len(fruits)):
    print(fruits[i].upper())

APPLE
BANANA
CHERRY

In [194]:
# recommended style
for fruit in fruits:
    print(fruit.upper())

APPLE
BANANA
CHERRY

In [195]:
# iterate through two things at once (using tuple unpacking)
family = {'dad':'homer', 'mom':'marge', 'size':6}
for key, value in family.items():
    print(key, value)

dad homer
mom marge
size 6

In [196]:
# use enumerate if you need to access the index value within the loop
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry

#### for/else loop:

In [198]:
for fruit in fruits:
    if fruit == 'banana':
        print('Found the banana!')
        break    # exit the loop and skip the 'else' block
else:
    # this block executes ONLY if the for loop completes without hitting 'break'
    print("Can't find the banana")

Found the banana!

#### while loop:

In [199]:
count = 0
while count < 5:
    print('This will print 5 times')
    count += 1    # equivalent to 'count = count + 1'

This will print 5 times
This will print 5 times
This will print 5 times
This will print 5 times
This will print 5 times

# 14. Comprehensions
List comprehension:

In [200]:
# for loop to create a list of cubes
nums = [1, 2, 3, 4, 5]
cubes = []
for num in nums:
    cubes.append(num**3)
cubes

[1, 8, 27, 64, 125]

In [201]:
# equivalent list comprehension
cubes = [num**3 for num in nums]
cubes

[1, 8, 27, 64, 125]

In [202]:
# for loop to create a list of cubes of even numbers
cubes_of_even = []
for num in nums:
    if num % 2 == 0:
        cubes_of_even.append(num**3)
cubes_of_even

[8, 64]

In [203]:
# equivalent list comprehension
# syntax: [expression for variable in iterable if condition]
cubes_of_even = [num**3 for num in nums if num % 2 == 0]
cubes_of_even

[8, 64]

In [204]:
# for loop to cube even numbers and square odd numbers
cubes_and_squares = []
for num in nums:
    if num % 2 == 0:
        cubes_and_squares.append(num**3)
    else:
        cubes_and_squares.append(num**2)
cubes_and_squares

[1, 8, 9, 64, 25]

In [205]:
# equivalent list comprehension (using a ternary expression)
# syntax: [true_condition if condition else false_condition for variable in iterable]
cubes_and_squares = [num**3 if num % 2 == 0 else num**2 for num in nums]
cubes_and_squares

[1, 8, 9, 64, 25]

In [206]:
# for loop to flatten a 2d-matrix
matrix = [[1, 2], [3, 4]]
items = []
for row in matrix:
    for item in row:
        items.append(item)
items

[1, 2, 3, 4]

In [207]:
# equivalent list comprehension
items = [item for row in matrix
              for item in row]
items

[1, 2, 3, 4]

#### Set comprehension:

In [208]:
fruits = ['apple', 'banana', 'cherry']
unique_lengths = {len(fruit) for fruit in fruits}
unique_lengths

{5, 6}

#### Dictionary comprehension:

In [210]:
fruit_lengths = {fruit:len(fruit) for fruit in fruits}
fruit_lengths

{'apple': 5, 'banana': 6, 'cherry': 6}

In [211]:
fruit_indices = {fruit:index for index, fruit in enumerate(fruits)}
fruit_indices

{'apple': 0, 'banana': 1, 'cherry': 2}

# 15. Map and Filter

#### map applies a function to every element of a sequence and returns a list (Python 2) or iterator (Python 3):

In [216]:
simpsons = ['homer', 'marge', 'bart']
l = list(map(len, simpsons))
l

[5, 5, 4]

In [217]:
# equivalent list comprehension
[len(word) for word in simpsons]

[5, 5, 4]

In [218]:
list(map(lambda word: word[-1], simpsons))

['r', 'e', 't']

In [219]:
# equivalent list comprehension
[word[-1] for word in simpsons]

['r', 'e', 't']

#### filter returns a list (Python 2) or iterator (Python 3) containing the elements from a sequence for which a condition is True:

In [221]:
nums = range(5)
list(filter(lambda x: x % 2 == 0, nums))

[0, 2, 4]

In [222]:
# equivalent list comprehension
[num for num in nums if num % 2 == 0]

[0, 2, 4]

#### Referene: https://nbviewer.jupyter.org/github/justmarkham/python-reference/blob/master/reference.ipynb